
# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
.vscode/launch.json
.vscode/tasks.json
Godot_v3.3.2-stable_win64.exe
default_env.tres
icon.png.import
logo.png.import
project.godot
.vscode/extensions.json
.vscode/settings.json
addons/gut/autofree.gd
addons/gut/comparator.gd
addons/gut/compare_result.gd
addons/gut/diff_formatter.gd
addons/gut/diff_tool.gd
addons/gut/doubler.gd
addons/gut/gut_cmdln.gd
addons/gut/gut_plugin.gd
addons/gut/gut.gd
addons/gut/GutScene.gd
addons/gut/GutScene.tscn
addons/gut/hook_script.gd
addons/gut/icon.png
addons/gut/icon.png.import
addons/gut/LICENSE.md
addons/gut/logger.gd
addons/gut/method_maker.gd
addons/gut/one_to_many.gd
addons/gut/optparse.gd
addons/gut/orphan_counter.gd
addons/gut/parameter_factory.gd
addons/gut/parameter_handler.gd
addons/gut/plugin_control.gd
addons/gut/plugin.cfg
addons/gut/printers.gd
addons/gut/signal_watcher.gd
addons/gut/source_code_pro.fnt
addons/gut/spy.gd
addons/gut/strutils.gd
addons/gut/stub_params.gd
addons/gut/stubber.gd
addons/gut/summary.gd
addons/gut/test_collector.gd
addons/gut/test.gd
addons/gut/thing_counter.gd
addons/gut/UserFileViewer.gd
addons/gut/UserFileViewer.tscn
addons/gut/utils.gd
addons/gut/double_templates/function_template.txt
addons/gut/double_templates/script_template.txt
addons/gut/fonts/AnonymousPro-Bold.ttf
addons/gut/fonts/AnonymousPro-BoldItalic.ttf
addons/gut/fonts/AnonymousPro-Italic.ttf
addons/gut/fonts/AnonymousPro-Regular.ttf
addons/gut/fonts/CourierPrime-Bold.ttf
addons/gut/fonts/CourierPrime-BoldItalic.ttf
addons/gut/fonts/CourierPrime-Italic.ttf
addons/gut/fonts/CourierPrime-Regular.ttf
addons/gut/fonts/LobsterTwo-Bold.ttf
addons/gut/fonts/LobsterTwo-BoldItalic.ttf
addons/gut/fonts/LobsterTwo-Italic.ttf
addons/gut/fonts/LobsterTwo-Regular.ttf
addons/gut/fonts/OFL.txt
assets/Icons/Border/Border2.png.import
assets/Icons/Border/dialogFigures.png.import
assets/Icons/Buttons/Input Focus.png.import
assets/Icons/Buttons/edge/buttonVerticePressed.png.import
assets/Icons/Buttons/Hexagon/buttonHexagono.png.import
assets/Icons/Buttons/Hexagon/buttonHexagonoPressed.png.import
assets/Icons/Buttons/Square/buttonQuadrado.png.import
assets/Icons/Buttons/Square/buttonQuadradoPressed.png.import
assets/Icons/Buttons/Triangle/buttonTriangulo.png.import
assets/Icons/Buttons/Triangle/buttonTrianguloPressed.png.import
assets/Icons/Buttons/Vertex/buttonVertice.png.import
assets/Icons/Buttons/Vertex/buttonVerticePressed.png.import
assets/Icons/Mouse/Hold/Hold.png.import
Main/Main.tscn
